@keyframes bounce {
	from {
		transform: translateY(0px) scale(1);
	}
	to {
		transform: translateY(-2px) scale(1.1);
	}
}

.main-wrapper {
	font-family: Roboto, "Open Sans", sans-serif;
	overflow: hidden;
}

.hero {
	height: 100vh;
	width: 100%;
	display: flex;
	background: linear-gradient(to right bottom, #004800 0%, rgba(#007864, 0.92) 40%, rgba(#59A3B1, 0.85) 55%, rgba(#B9CDE0, 0.77) 75%, #FFFFFF 100%);
}

.hero-display {
	width: 50%;
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.hero-title {
	width: 80%;
	font-size: 3em;
	color: #fff;
	
	.span-job {
		color: #333;
	}
}

.hero-buttons {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	
	& .button.secondary {
		margin-bottom: 30px;
	}
}

.button {
	padding: 15px 30px;
	text-decoration: none;
	color: inherit;
	border-radius: 100px;
	transition: all 0.2s linear;
	
	&.primary {
		color: #fff;
		border: mix(#000000, #004800, 80%);
		background-color: #004800;
		font-size: 1.4em;
		
		&:hover {
			background-color: mix(#000000, #004800, 20%);
		}
	}
	
	&.secondary {
		color: #fff;
		border: 1px solid #fff;
		background-color: rgba(255, 255, 255, 0);
		font-size: 1.2em;
		
		&:hover {
			background-color: rgba(155, 155, 155, 0.2);
		}
	}
}

.hero-scroll-link {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
	font-size: 1.2em;
	cursor: pointer;
	
	p {
		margin-bottom: 5px;
	}
	
	svg {
		animation: bounce 0.5s infinite alternate;
	}
}

.hero-images {
	width: 50%;
	position: relative;
}

.code-svg {
	height: 50%;
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-70%);
	opacity: 0.5;
}
.avatar-svg {
	height: 50%;
	width: auto;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.divider-hero-skills {
	height: 20px;
	width: 100%;
	background: radial-gradient(circle, #666 0%, #333 100%);
}

@media (max-width: 1200px) {
	.hero-title {
		font-size: 2.5em;
	}
}

@media (max-width: 992px) {
	.hero-images {
		display: none;
	}
	
	.hero-display {
		width: 100%;
		text-align: center;
	}
	
	.hero-buttons {
		align-items: center;
	}
}