.ctaPart {
    height: calc(100vh - 50px);
}

#ctaPart3 {
    background-image: url("http://assets.fhuszti.com/cv/home.png");
}



@media (max-width: 992px) {
    .ctaPart {
        height: calc(100vh/2 - 25px);
    }
}
@media (max-width: 768px) {
    .ctaPart {
        height: calc(100vh/3 - 50px/3);
    }
}
