<div class="row">
    <div class="col-xs-12" id="summary">
        <h3>
            {{ 'core.resume.summary.title'|trans }}
        </h3>

        <p class="justified-content">
            {{ 'core.resume.summary.content'|trans|striptags('<a>')|raw|nl2br }}
        </p>
    </div>
</div>
