<div class="col-xs-12 col-md-8" id="mainContent">
    <header class="row">
        <div class="col-xs-12" id="title">
            <img src="http://assets.fhuszti.tech/cv/simple/photo_cv.jpg" alt="{{ 'core.header.logo.alt'|trans }}" class="hidden-xs" />

            <h1>
                <a href="{{ path('core_home') }}" title="{{ 'core.header.homepage.link_title'|trans }}" class="hide-link-on-print">
                    <i class="name">FRAN&Ccedil;OIS HUSZTI</i>
                </a>
            </h1>

            <h3>
                <i class="email">contact@fhuszti.tech</i>
            </h3>

            <h3>
                {{ 'core.resume.job_title'|trans }}
            </h3>
        </div>
    </header>

    {% include 'core/resume/blocks/main_content/_summary.html.twig' %}

    {% include 'core/resume/blocks/main_content/_experience.html.twig' %}

    {% include 'core/resume/blocks/main_content/_academics.html.twig' %}
</div>
