.button {
	padding: 15px 30px;
	text-decoration: none;
	color: inherit;
	border-radius: 100px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
	transition: all 0.2s linear;
	
	&.primary {
		color: #fff;
		border: mix(#000000, #004800, 80%);
		background-color: #004800;
		font-size: 1.4em;
		
		&:hover {
			background-color: mix(#000000, #004800, 20%);
		}
	}
	
	&.secondary {
		color: #fff;
		border: 1px solid #fff;
		background-color: rgba(255, 255, 255, 0);
		font-size: 1.2em;
		
		&:hover {
			background-color: rgba(155, 155, 155, 0.2);
		}
	}
}