.projectCardWrapper {
  width: 100%;
  max-width: 250px;
}

.header {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {

}

.title {

}

.dataList {

}