<section class="row" id="skillsRow">
    <h3>{{ 'core.home.skills'|trans }}</h3>

    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="https://developer.mozilla.org/en/docs/Web/Guide/HTML/HTML5" title="HTML5" target="_blank" rel="noopener noreferrer">
            <img src="http://assets.fhuszti.tech/homepage/html5.png" alt="HTML5" />
        </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="https://developer.mozilla.org/en/docs/Web/CSS/CSS3" title="CSS3" target="_blank" rel="noopener noreferrer">
            <img src="http://assets.fhuszti.tech/homepage/css3.png" alt="CSS3" />
        </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="https://www.javascript.com/" title="JavaScript" target="_blank" rel="noopener noreferrer">
            <img src="http://assets.fhuszti.tech/homepage/javascript.png" alt="JavaScript" />
        </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="https://secure.php.net/" title="PHP" target="_blank" rel="noopener noreferrer">
            <img src="http://assets.fhuszti.tech/homepage/php.png" alt="PHP" />
        </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="https://www.mysql.com/" title="MySQL" target="_blank" rel="noopener noreferrer">
            <img src="http://assets.fhuszti.tech/homepage/mysql.png" alt="MySQL" />
        </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="https://wordpress.org/" title="WordPress" target="_blank" rel="noopener noreferrer">
            <img src="http://assets.fhuszti.tech/homepage/wordpress.png" alt="WordPress" />
        </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="https://symfony.com/" title="Symfony" target="_blank" rel="noopener noreferrer">
            <img src="http://assets.fhuszti.tech/homepage/symfony.png" alt="Symfony" />
        </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="https://reactjs.org/" title="React" target="_blank" rel="noopener noreferrer">
            <img src="http://assets.fhuszti.tech/homepage/reactjs.png" alt="React" />
        </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="https://twig.symfony.com/" title="Twig" target="_blank" rel="noopener noreferrer">
            <img src="http://assets.fhuszti.tech/homepage/twig.png" alt="Twig" />
        </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="https://getbootstrap.com/" title="BootStrap" target="_blank" rel="noopener noreferrer">
            <img src="http://assets.fhuszti.tech/homepage/bootstrap.png" alt="BootStrap" />
        </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="https://jquery.com/" title="jQuery" target="_blank" rel="noopener noreferrer">
            <img src="http://assets.fhuszti.tech/homepage/jquery.png" alt="jQuery" />
        </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="https://phaser.io/" title="Phaser" target="_blank" rel="noopener noreferrer">
            <img src="http://assets.fhuszti.tech/homepage/phaser.png" alt="Phaser" />
        </a>
    </div>
</section>
