#wrapper {
    padding: 50px;
    text-align: center;
}

#wrapper header {
    font-size: 3em;
}
#wrapper header .glyphicon {
    font-size: 3em;
}
#wrapper header h1 {
    font-weight: bold;
    color: rgb(0, 72, 0);
}

#wrapper p a {
    color: rgb(0, 72, 0);
}

#wrapper img[alt='Travolta'] {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 150px;
}
