/*
GENERAL SETTINGS
*/
#resumeContainer {
	margin-left: 40px;
	margin-right: 40px;
}
#mainContent {
    padding: 20px;
}
#mainContent [class="col-xs-12"] {
    padding: 0;
}
#mainContent [class*="row"] {
    margin-right: 20px;
    padding: 10px 0;
}
#mainContent>div[class*="row"] {
    padding-top: 0;
}
#mainContent [class="row"]:not([class="last-row"]) {
    border-bottom: 20px solid #eee;
}
.justified-content {
    text-align: justify;
}
h1 i {
    font-style: inherit;
}




/*
TITLE/HEADER SECTION
*/
#title img {
    width: 54px;
    height: 70px;
    -webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	position: absolute;
	left: 0;
	top: 0;
    z-index: 1000;
}
#title img:hover {
	width: 108px;
	height: 140px;
}
#title h1, #title h3 {
    margin: 0;
}
#title h1 {
	font-size: 3em;
    font-family: 'gooddogregular', Arial, Helvetica, Verdana, Times, "Times New Roman", sans-serif;
    font-weight: bold;
}
#title h1 a {
    color: rgb(0, 72, 0);
}
#title h3 {
    font-size: 1.4em;
    font-weight: bold;
}
#title h3:first-of-type {
    margin-left: 70px;
    float: left;
}




/*
MAIN CONTENT SECTION
*/
#mainContent header {
	text-align: right;
}
#mainContent div[class*='row'] h3 {
    color: rgb(0, 72, 0);
    font-weight: bold;
}
#academics p, #experience p {
    font-weight: bold;
}
#academics .right-pull, #experience .right-pull {
    float: right;
}
#academics .normalWeight, #experience .normalWeight {
    font-weight: normal;
    display: block;
}
#summary a, #academics a, #experience a {
    color: rgb(0, 72, 0);
}




/*
QUICK LOOK SECTION
*/
#quickLook {
    background-color: #eee;
    padding: 20px;
}
#quickLook h1 {
    color: rgb(0, 72, 0);
}
#quickLook h1, #quickLook h3 {
    font-weight: bold;
}




@media (max-width: 991px) {
    #resumeContainer {
        margin: 0 10px;
    }

    #mainContent [class*="row"] {
        margin-right: 0;
        margin-left: 0;
    }

    #mainContent {
        padding-bottom: 0;
        padding-top: 10px;
    }
    #mainContent>div[class*="row"] {
        padding-top: 0;
    }

    #quickLook {
        padding-top: 0;
    }
}
/* This is to fix some funky behaviour starting at that particular width */
@media (max-width: 919px) {
    #title img {
    	height: 90px;
    	width: 72px;
    }
    #title h3:first-of-type {
        float: none;
        margin-bottom: 3px;
        margin-left: 0;
    }
}
@media (max-width: 767px) {
    #wrapper {
        padding: 0;
    }

    #resumeContainer {
    	margin: 0;
    }

    #title h1 {
        float: left;
    }

    #mainContent {
    	padding: 0;
    }
    #mainContent [class*="row"] {
        margin-left: 20px;
        margin-right: 20px;
    }

    #experience .right-pull, #academics .right-pull {
        float: none;
        display: block;
    }
}
@media (max-width: 599px) {
	#title h1 {
    	float: none;
    }
}




/*
PRINTABLE VERSION
*/
@media print {
    /*
    Thanks to Zoltan Toth on StackOverflow who copy/pasted this snippet from Foundation !!!! Saved me hours
    */
    * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
    -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
    p a, p a:visited { color: #444 !important; }
    p a[href]:after { content: " (" attr(href) ")"; }
    a.hide-link-on-print[href]:after { content: none; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
    tr, img, p { page-break-inside: avoid; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3{ page-break-after: avoid; }
    .hide-on-print { display: none !important; }
    .print-only { display: block !important; }
    #wrapper { margin-top: 0; }
    #title h3:first-of-type { margin-left: 0 !important; }
}
