#header .navbar-brand {
    padding: 5px 15px;
}
#logo img {
    height: 40px;
}

#lang-menu a {
	margin-right: 10px;
}

#header, #header .navbar-toggle {
    border-color: rgb(0, 72, 0);
}
#header .navbar-toggle .icon-bar {
    background-color: rgb(0, 72, 0);
}

#header .navbar-nav>li>a, #header .navbar-nav>li>a:visited, #header .navbar-nav>li>a:focus, #header .navbar-nav>li>a:active {
    color: rgb(0, 72, 0);
    font-weight: bold;
}
#header .navbar-nav>li>a:hover {
    color: #777;
}
