/*
The goal here is to reduce the overall size of the header to 30px (31px with the border)
*/

#header.navbar {
    min-height: 30px;
}


#header .navbar-brand {
    height: 30px;
    padding: 3px 15px;
}
#logo h1 {
    font-size: 1.3em;
}


#header .navbar-toggle {
    padding: 4px 6px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#header .navbar-toggle .icon-bar+.icon-bar {
    margin-top: 2px;
}


#header .navbar-text {
    margin-top: 5px;
    margin-bottom: 5px;
}


@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
