.contactWrapper {
	padding: 50px 20px;
	background: radial-gradient(circle, #666 0%, #333 100%);
	display: flex;
	justify-content: space-around;
	align-items: center;
	
	p {
		color: #fff;
		font-weight: 600;
		letter-spacing: 0.15em;
	}
}

.contactFigure {
	&:hover {
		background-color: rgba(200, 200, 200, 0.05);
	}
	
	img {
		max-height: 50px;
	}
}

@media screen and (max-width: 992px) {
	.contactWrapper {
		padding: 50px 20px;
		min-height: 150px;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		
		:nth-child(1) {
			order: 2;
		}
		:nth-child(2) {
			order: 1;
		}
		:nth-child(3) {
			order: 3;
		}
	}
	
	.contactFigure {
		img {
			max-height: 30px;
		}
	}
}