@keyframes bounce {
	from {
		transform: translateY(0px) scale(1);
	}
	to {
		transform: translateY(-2px) scale(1.1);
	}
}

.hero {
	height: 100vh;
	width: 100%;
	display: flex;
	background: linear-gradient(to right bottom, #004800 0%, rgba(#007864, 0.92) 40%, rgba(#59A3B1, 0.85) 55%, rgba(#B9CDE0, 0.77) 75%, #FFFFFF 100%);
}

.heroDisplay {
	width: 50%;
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.heroTitle {
	width: 80%;
	font-size: 3em;
	color: rgba(255, 255, 255, 0.9);
	
	.spanJob {
		color: #333;
	}
}

.heroButtons {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	
	a {
		margin-bottom: 30px;
	}
}

.heroScrollLink {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: rgba(255, 255, 255, 0.8);
	font-size: 1.2em;
	line-height: 1.5em;
	cursor: pointer;
	
	p {
		margin-bottom: 5px;
	}
	
	svg {
		animation: bounce 0.5s infinite alternate;
	}
}

.heroImages {
	width: 50%;
	position: relative;
}

.codeSvg {
	height: 50%;
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-70%);
	opacity: 0.5;
}
.avatarSvg {
	height: 50%;
	width: auto;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

@media (max-width: 1200px) {
	.heroTitle {
		font-size: 2.5em;
	}
}

@media (max-width: 992px) {
	.heroImages {
		display: none;
	}
	
	.heroDisplay {
		width: 100%;
		text-align: center;
	}
	
	.heroButtons {
		align-items: center;
	}
}